body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#generateRandom{
    text-align: center;
    padding: 20px 40px;
    margin: 50px auto;

    background-color: black;
    color: white;
    font-size:30px;

    border-style: none;
    border-radius: 5px;
    transition: 0.5s all;
}
#generateRandom:hover {
    transform: scale(0.95);
    cursor: pointer;
    background-color: gray;
}

img {
    margin-bottom: 20px;
}
.buttons {
    padding: 10px 40px;
}
#score {
    font-size: 30px;
    margin-bottom: 30px;
}

